<!DOCTYPE html>
<html>
    <head>
        <title>Administração</title>
        <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}"/>
        #{get 'moreStyles' /}
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/bootstrap.css'}" />
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/sample.css'}" />

        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}"></script>
        <script src="@{'/public/javascripts/jquery.tools-1.2.5.toolbox.expose.min.js'}"></script>
        <script src="@{'/public/javascripts/ckeditor.js'}"></script>

    </head>
    <body id="admin">

        <div id="header">
            <div id="logo">
                <span class="lead">Painel de Administração</span>
            </div>
            <ul id="tools">

                    <a href="@{Application.index()}">Home</a> |
                      <a href="@{Secure.logout()}">Logout</a>

            </ul>
        </div>

        <div class="container">

<ul class="nav nav-tabs">

  <li class="${request.controller == 'Admin' ? 'active' : ''}">
                    <a href="@{Admin.index()}">Meus Avisos</a>
                </li>
                #{secure.check 'admin'}
                    <li class="${request.controller == 'Posts' ? 'active' : ''}">
                        <a href="@{Posts.list()}">Avisos</a>
                    </li>
                    <li class="${request.controller == 'Tags' ? 'active' : ''}">
                        <a href="@{Tags.list()}">Cadeiras</a>
                    </li>
                    <li class="${request.controller == 'Comments' ? 'active' : ''}">
                        <a href="@{Comments.list()}">Comentarios</a>
                    </li>
                    <li class="${request.controller == 'Users' ? 'active' : ''}">
                        <a href="@{Users.list()}">Utilizadores</a>
                    </li>
                #{/secure.check}
</ul>



            #{doLayout /}
        </div>
    </body>
</html>
